{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "forOf": true,
    "jsx": true,
    "es6": true,
    "modules": true
  },
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true
    }],
    "arrow-body-style": 0
  }
}
